<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CrickInformer Header</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <!-- Header -->
  <header class="bg-gray-800 text-white shadow-md">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center">
      <!-- Brand Name -->
      <div class="text-2xl font-bold">
        CrickInformer
      </div>

      <!-- Navigation Menu -->
      <nav>
        <ul class="flex space-x-6">
          <li><a [routerLink]="'/home'" href="#home" class="hover:text-gray-400">Home</a></li>
          <li><a [routerLink]="'/live'" href="#live" class="hover:text-gray-400">Live Matches</a></li>
          <li><a [routerLink]="'/history'" href="#history" class="hover:text-gray-400">History</a></li>
          <li><a [routerLink]="'/point-table'" href="#point-table" class="hover:text-gray-400">Point Table</a></li>
        </ul>
      </nav>
       
    </div>
  </header>
  <div class="px-28 py-8">
<router-outlet></router-outlet>
  </div>

  <!-- Example Content -->
  <main class="p-4">
    <!-- Your content goes here -->
  </main>
</body>
</html>

